<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Barcodscanner</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="clearList()">
        <ion-icon name="trash" color="light"></ion-icon>
      </button>
      <button ion-button icon-only (click)="shareMail()">
        <ion-icon name="share" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>
  <ion-list no-padding>
    <ion-item-sliding #item *ngFor="let barcode of barcodes">
      <ion-item (click)="barcodeClicked(barcode)">
        {{ barcode.barcode}}
        <ion-note item-end class="barcode-note">
          {{ barcode.timestamp }}
        </ion-note>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button (click)="shareBarcode(item, barcode)">Share</button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button (click)="removeBarcode(item, barcode)">Remove</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab icon-only (click)="scanBarCode()">
      <ion-icon name="camera" color="light"></ion-icon>
    </button>
  </ion-fab>
</ion-content>